body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  top: 0;
  z-index: 1000;
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0);
  }
}

.section {
  padding: 2em;
  text-align: center;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  padding: 0.5em 1em;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #005bb5;
  transform: scale(1.1);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 1em;
  transform: scale(1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main ul {
  height: 0px;
  overflow: hidden;
}

.main:hover ul {
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.olympic-logo {
  width: 380px;
  height: 175px;
  font-size: 10px;
  background-color: white;
  position: relative;
  margin: 50px auto;
}

/*circles */
.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
}

.blue {
  border: 10px solid blue;
  left: 492px;
  animation: stretch 2.5s;
}

.black {
  border: 10px solid black;
  left: 590px;
  animation: stretch 2.5s;
}

.red {
  border: 10px solid red;
  left: 686px;
  animation: stretch 2.5s;
}

.yellow {
  border: 10px solid yellow;
  left: 541px;
  top: 142px;
  animation: stretch 2.5s;
}

.green {
  border: 10px solid green;
  left: 637px;
  top: 142px;
  animation: stretch 2.5s;
}

/* Intertwining the circles */
.chain {
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  border-color: transparent;
  border-style: solid;
  border-width: 50px 0 50px 100px;
}
.chain:before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -99.9px;
  border: 10px solid;
  border-radius: 50%;
}

.patch1 {
  left: 456.6px;
  top: 93px;
  animation: stretch 2.5s;
}

/*black overring to create overlap viewing on right side.*/
.patch2 {
  left: 554.455px;
  top: 91px;
  animation: stretch 2.5s;
}

/*black overring to create overlap viewing at bottom*/
.patch3 {
  left: 572.2px;
  top: 75.6999px;
  transform: rotate(99.5deg);
}

/*red overring at bottom*/
.patch4 {
  left: 668.2px;
  top: 76.5px;
  transform: rotate(97.5deg);
}

/*coloring of ring overlaps*/
.patch1:before {
  border-color: blue;
}

.patch2::before {
  border-color: black;
}

.patch3::before {
  border-color: black;
}

.patch4:before {
  border-color: rgb(255, 0, 0);
}

.patch5:before {
  border-color: green;
}

/*animatoin for rings*/
@keyframes stretch {
  from,
  to {
    transform: scale(2, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1, 0.9);
  }
  75% {
    transform: scale(1.4, 1.4);
  }
  100% {
    transform: scale(1, 1);
  }
}
